<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="App.local.config">
    <add key="CudaBinPath" value="C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v12.9\bin" />
    <add key="CudnnBinPath" value="C:\cuDNN\9.10.2.21_cuda12\bin" />
    <add key="TrtLibPath" value="C:\TensorRT\TensorRT-10.12.0.36-cuda12.9\lib" />

    <add key="InferenceBackend" value="Cuda" />
    <add key="ModelPrecision" value="fp16" />
    <add key="UseByteBgr" value="true" />
    <add key="InputSize" value="640" />
    <add key="BoxModelName" value="yolo26n" />
    <add key="ObbModelName" value="img-text-to-obb" />
    <add key="SegModelName" value="yolo26n-seg" />
    <add key="ClsModelName" value="yolo26n-cls" />
    <add key="PoseModelName" value="yolo26n-pose" />

    <add key="PaddleDetInferenceBackend" value="Cuda" />
    <add key="PaddleDetModelPrecision" value="fp32" />
    <add key="PaddleDetUseByteBgr" value="false" />

    <add key="PaddleRecInferenceBackend" value="Cuda" />
    <add key="PaddleRecModelPrecision" value="fp32" />
    <add key="PaddleRecUseByteBgr" value="false" />

    <add key="VideoSource" value="0" />
  </appSettings>
</configuration>
